.about_section {
  position: relative;
  bottom: 440px;
  background: url("../public/Group\ 23.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
  /* display: flex;
  flex-direction: column; */
}

.about_section_wrapper {
}

.about_header {
  position: relative;
  top: 270px;
}

.about_content {
}
