@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Sorts+Mill+Goudy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Sorts+Mill+Goudy&display=swap");

.about_section {
  position: relative;
  bottom: 440px;
  background: url("../public/Group\ 23.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
}

.about_section_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_header {
  position: relative;
  top: 270px;
  position: absolute;
}

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 420px 10% 0 10%;
}

.mandala {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sally_section {
  display: flex;
  flex-direction: column;
}

.kim_section {
  display: flex;
  flex-direction: column;
}

.lora_paragraph {
  height: 10px;
  padding: 0 10%;
}

.lora_paragraph p {
  /* font-family: "Sorts Mill Goudy", serif; */
  padding-top: 2%;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}
