@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.services_section {
  width: 100%;
  height: 85vh;
  min-height: 743.75px;
  position: absolute;
  top: 196%;
  background: linear-gradient(161.39deg, #655a76 4.16%, #100626 80.74%);
}

.vector {
  width: 91%;
  height: 6px;
  position: absolute;
  left: -1%;
  bottom: 99.5%;
  background: linear-gradient(180.39deg, #f1dc8e 4.16%, #d4a90b 80.74%);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.445);
  border-radius: 104px;
}

.services_header {
  position: absolute;
  width: 93%;
  top: 3%;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.vector_1 {
  height: 6px;
  width: 10%;
  background: linear-gradient(180.39deg, #f1dc8e 4.16%, #f0cb43 4.16%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.445);
  border-radius: 104px;
  margin-right: 2%;
}

.vector_2 {
  height: 6px;
  width: 65%;
  background: linear-gradient(180.39deg, #ebb902 4.16%, #feda58 80.74%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.445);
  border-radius: 104px;
  margin-left: 2%;
}

.services_content {
  background-color: rgba(255, 99, 71, 0.767);
  width: 90%;
  height: 77%;
  position: absolute;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}

.services_card {
  background-color: rgba(0, 128, 128, 0.486);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 53%; */
}

.service_description {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: white;
  text-align: center;
  margin-top: 8%;
  width: 95%;
  background-color: brown;
}

@media only screen and (max-width: 1187px) {
  .service_description {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-align: center;
    margin-top: 8%;
    width: 95%;
  }
}
@media only screen and (max-width: 1047px) {
  .service_description {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white;
    text-align: center;
    margin-top: 8%;
    width: 95%;
  }
}

.service_name {
  background-color: rgba(216, 191, 216, 0.646);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgba(234, 201, 85, 1);
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 1000px) {
  .service_name {
    /* background-color: rgba(216, 191, 216, 0.646); */
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: rgba(234, 201, 85, 1);
    text-align: center;
    text-decoration: none;
  }
}
@media only screen and (max-width: 920px) {
  .service_name {
    /* background-color: rgba(216, 191, 216, 0.646); */
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: rgba(234, 201, 85, 1);
    text-align: center;
    text-decoration: none;
  }
}

.vertical_vector {
  margin: 0% 5%;
  height: 33%;
  width: 2px;
  background: white;
  border-radius: 104px;
}

@media only screen and (max-width: 1310px) {
  .service_svg {
  }
}
.service_svg {
  background-color: rgba(64, 224, 208, 0.705);
}

.services_head {
  background-color: rgb(68, 0, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .services_head {
    /* background-color: rgb(68, 0, 254); */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-between;
    padding-top: 50%;
  }
}
