/* .services_section {
  width: 100%;
  height: 800px;
  background: url(../public/services_bg.svg);
  position: relative;
  bottom: 545px;
} */

.services_section {
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 196%;
  background-image: url("../public/services_bg.svg");
  background-size: cover;
  background-position: top center;
  /* background-color: rgb(21, 255, 0); */
}

.vector {
  position: relative;
  bottom: 54px;
}

.heading {
  position: relative;
  bottom: 10%;
  margin-left: 10%;
}
